
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} -
        pyMedia Manager</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
     <link rel="stylesheet" type="text/css" href="{% static 'main/login.css' %}">
</head>
{% if messages %}

    {% bootstrap_messages %}

{% endif %}
{% block content %}
<div class="container text-white">

  <div class="row">
    <div class="col">

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-white bg-dark">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot text-white bg-dark">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <!--  <div class="login-or">{% trans 'or' %}</div>-->

        </div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% bootstrap_form form layout='vertical' %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction text-white bg-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
  </div>
    <a class="text-white bg-dark" href="{% url 'main:homepage' %}">Home page</a> | <a class="text-white bg-dark"
        href="https://github.com/iforvard/pyMediaManager">Github</a>
</div>
{% endblock %}
