aiohttp
APScheduler
asgiref
async-timeout
attrdict
attrs
beautifulsoup4
certifi
chardet
dateparser
defusedxml
dill
dj-database-url
Django
django-allauth
django-bootstrap-pagination
django-bootstrap4
django-rest-auth
djangorestframework
future
gunicorn
h11
h2
hpack
hstspreload
httpx
hyperframe
idna
lxml
magnet2torrent
multidict
multiprocess
oauthlib
pathlib
psycopg2
python-dateutil
python-qbittorrent
python3-openid
pytz
qbittorrent-api
regex
requests
requests-oauthlib
rfc3986
simplejson
six
sniffio
soupsieve
sqlparse
tzlocal
urllib3
whitenoise
wrapt
wrapt-timeout-decorator
yarl
