aiohttp==3.7.4
APScheduler==3.6.3
asgiref==3.2.7
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
dateparser==0.7.4
defusedxml==0.6.0
dill==0.3.1.1
dj-database-url==0.5.0
Django==3.1.9
django-allauth==0.41.0
django-bootstrap-pagination==1.7.1
django-bootstrap4==1.1.1
django-rest-auth==0.9.5
djangorestframework==3.11.2
future==0.18.2
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.4.24
httpx==0.12.1
hyperframe==5.2.0
idna==2.9
kinopoiskpy==0.8.2
lxml==4.6.3
magnet2torrent==1.1.0
multidict==4.7.5
multiprocess==0.70.9
oauthlib==3.1.0
pathlib==1.0.1
psycopg2==2.8.5
python-dateutil==2.8.1
python-qbittorrent==0.4.2
python3-openid==3.1.0
pytz==2019.3
qbittorrent-api==2020.4.2
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
simplejson==3.17.0
six==1.14.0
sniffio==1.1.0
soupsieve==2.0
sqlparse==0.3.1
tzlocal==2.0.0
urllib3==1.25.9
whitenoise==5.0.1
wrapt==1.12.1
wrapt-timeout-decorator==1.3.1
yarl==1.4.2
