/* Custom page CSS
-------------------------------------------------- */

body {
    background-color: #252525;
}
.container {
    width: auto;
    max-width: 768px;
}
.blog {
    padding: 0 15px;
}
.panel_btn {
    width: auto;
}