{% extends 'layout/basic.html' %}
{% block title %} Настройки {% endblock %}
{% block content %}
<table class="mt-3 p-3 mb-2 table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Название медиа карточки</th>
      <th scope="col">Дата обновления</th>
      <th scope="col">
        <a href="{% url 'main:check' key='download' %}" class="btn btn-outline-success mt-1" data-toggle="tooltip" data-placement="top" title="Загрузить все медиа-карточки">
          <i class="fas fa-arrow-circle-down"></i> All
        </a>
        <a href="{% url 'main:check' key='check' %}" class="btn btn-outline-success mt-1" data-toggle="tooltip" data-placement="top" title="Обновить все медиа-карточки">
          <i class="fas fa-sync-alt"></i> All
        </a>
        <a href="{% url 'main:check' key='check' %}" class="btn btn-outline-success mt-1" data-toggle="tooltip" data-placement="top" title="Отметить все медиа-карточки как загруженные">
          <i class="fas fa-power-off"></i> All
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for m_card in data %}
    {% if m_card.is_new_data %}
    <tr>
      <td><a class="text-white bg-dark" href="{% url 'main:detail' pk=m_card.pk %}">{{ m_card.short_name }}</a></td>
      <td>{{ m_card.date_upd }}</td>
      <td>
        <button type="button" class="btn btn-secondary mt-1">
          <i class="fas fa-arrow-circle-down"></i>
        </button>
        <button type="button" class="btn btn-secondary mt-1">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-secondary mt-1">
           <i class="fas fa-power-off"></i>
        </button>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}