{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container my-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h1><i class="fas fa-sliders-h"></i> Настройки:</h1>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-poll"></i> Основные:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Здравствуйте, {{ user.username }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Ваш IP {{ view.get_user_ip }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Просмотр и загрузка "медиа-карточки" других авторов, если разрешен просмотр всем: <b>{{ Settings.use_shared_cards }}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Профиль торрент клиента используемый для загрузки: <b>{{ Settings.t_client }}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <a href="{% url 'main:settings' username=user.username %}" class="btn btn-secondary btn-block">Изменить</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-database"></i> Резервное копирование:</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href="#" class="btn btn-secondary btn-block"><i class="fas fa-file-upload"></i> Импорт</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:export_m_cards' %}" class="btn btn-secondary btn-block"><i class="fas fa-file-download"></i> Экспорт</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-globe-europe"></i> Подключенные плагины торрент-трекеров:</h4>
        </div>
    </div>
    {% for TorrentTracker in TorrentTrackers %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:upd_torrent_tracker' name=TorrentTracker.name %}" class="btn btn-light btn-block">{{ TorrentTracker.name }} - {{ TorrentTracker.login }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:delete_torrent_tracker' pk=TorrentTracker.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Подключенные плагины торрент-трекеров отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_torrent_tracker' %}" class="btn btn-secondary btn-block">Добавить торрент-трекер</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-server"></i> Подключенные плагины торрент-клиентов:</h4>
        </div>
    </div>
    {% for TorrentClient in TorrentClients %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:upd_torrent_client' name=TorrentClient.name %}" class="btn btn-light btn-block">{{ TorrentClient.name }} - {{ TorrentClient.login }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:delete_torrent_client' pk=TorrentClient.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Подключенные плагины торрент-клиентов отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_torrent_client' %}" class="btn btn-secondary btn-block">Добавить торрент-клиент</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2" id="rubrics">
            <h4><i class="fas fa-list-alt"></i> Список рубрик:</h4>
        </div>
    </div>
    {% for rubric in Rubrics %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:rubric_update' pk=rubric.pk %}" class="btn btn-light btn-block">{{ rubric.name }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:rubric_delete' pk=rubric.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Рубрики отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_rubric' %}" class="btn btn-secondary btn-block">Добавить новую рубрику</a>
        </div>
    </div>
</div>

{% endblock %}
