{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% block title %} Настройки {% endblock %}
{% block content %}
<div class="container my-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h1><i class="fas fa-sliders-h"></i> Настройки:</h1>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-poll"></i> Основные:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Здравствуйте, {{ user.username }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Ваш IP {{ view.get_user_ip }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <button class="btn btn-secondary mb-3" type="button" data-toggle="collapse" data-target="#uuid"
                    aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-user-secret"></i> <b>Ваш UID</b>
            </button>
            <div class="collapse" id="uuid">
                <div class="card card-body bg-secondary text-white">
                    {{ Settings.uuid }}
                    <div class="row mt-3">
                        <div class="col">
                            <a href="#" class="btn btn-light btn-block" onclick="copyUUID()">Копировать</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col mb-3">
                            <a href="{% url 'main:new_uid' %}" class="btn btn-light btn-block">Создать новый</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a class="btn btn-secondary" id="rss_feed" href="{% url 'main:post_feed' uid=Settings.uuid %}"><i class="fas fa-rss-square"></i> <b>RSS Feed</b></a> -
                Подписка на медиа-карточки у которых есть обновления. Для просмотра без авторизации в ссылке указан ваш номер <b>UID</b>. При смене <b>UID</b> ссылка измениться автоматически.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Просмотр/загрузка "медиа-карточек" других авторов, если для них разрешен просмотр всем: <b>{{ Settings.use_shared_cards }}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Профиль торрент клиента используемый для загрузки: <b>{{ Settings.t_client }}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <a href="{% url 'main:settings' username=user.username %}" class="btn btn-secondary btn-block">Изменить</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row" id="backup">
        <div class="col mt-2">
            <h4><i class="fas fa-database"></i> Резервное копирование:</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <!-- Button trigger modal -->
            <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#ModalImport_m_cards"><i class="fas fa-file-upload"></i> Импорт</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:export_m_cards' %}" class="btn btn-secondary btn-block"><i class="fas fa-file-download"></i> Экспорт</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-globe-europe"></i> Подключенные плагины торрент-трекеров:</h4>
        </div>
    </div>
    {% for TorrentTracker in TorrentTrackers %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:upd_torrent_tracker' name=TorrentTracker.name %}" class="btn btn-light btn-block">{{ TorrentTracker.name }} - {{ TorrentTracker.login }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:delete_torrent_tracker' pk=TorrentTracker.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Подключенные плагины торрент-трекеров отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_torrent_tracker' %}" class="btn btn-secondary btn-block">Добавить торрент-трекер</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2">
            <h4><i class="fas fa-server"></i> Подключенные плагины торрент-клиентов:</h4>
        </div>
    </div>
    {% for TorrentClient in TorrentClients %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:upd_torrent_client' name=TorrentClient.name %}" class="btn btn-light btn-block">{{ TorrentClient.name }} - {{ TorrentClient.login }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:delete_torrent_client' pk=TorrentClient.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Подключенные плагины торрент-клиентов отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_torrent_client' %}" class="btn btn-secondary btn-block">Добавить торрент-клиент</a>
        </div>
    </div>
</div>
<div class="container mt-3 bg-dark text-white">
    <div class="row">
        <div class="col mt-2" id="rubrics">
            <h4><i class="fas fa-list-alt"></i> Список рубрик:</h4>
        </div>
    </div>
    {% for rubric in Rubrics %}
    <div class="row">
        <div class="col-8 mt-3">
            <a href="{% url 'main:rubric_update' pk=rubric.pk %}" class="btn btn-light btn-block">{{ rubric.name }}</a>
        </div>
        <div class="col mt-3">
            <a href="{% url 'main:rubric_delete' pk=rubric.pk %}" class="btn btn-light btn-block">Del <i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% empty %}
        Рубрики отсутствуют.
    {% endfor %}
    <div class="row mt-3">
        <div class="col mb-3">
            <a href="{% url 'main:add_rubric' %}" class="btn btn-secondary btn-block">Добавить новую рубрику</a>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalImport_m_cards" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Импорт .CSV медиа-карточек</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'main:import_m_cards' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Загрузите .CSV - файл со список медиа-карточек</label>
                        <input type="file" name="m_cards" class="form-control-file" id="exampleFormControlFile1">
                        <br><p>*Осторожно! Бета версия загрузчика</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  if (window.location.search == '?uuid') {
  $('#uuid').addClass('show');
  }
</script>
<script>
function copyUUID() {
                    var range = document.createRange();
                    range.selectNode(document.getElementById("uuid"));
                    window.getSelection().removeAllRanges(); // clear current selection
                    window.getSelection().addRange(range); // to select text
                    document.execCommand("copy");
                    window.getSelection().removeAllRanges();// to deselect
                }
</script>
{% endblock %}
